<div class="row">
<div class="col s12" style="position: fixed;right:0;top:93%;">
<ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s2">{{#link-to 'explorar'}}<i class="material-icons">search</i>{{/link-to}}</li>
    <li class="tab col s2">{{#link-to 'favoritos'}}<i class="material-icons">stars</i>{{/link-to}}</li>
    <li class="tab col s2">{{#link-to 'principal'}}<i class="material-icons">home</i>{{/link-to}}</li>
    <li class="tab col s3">{{#link-to 'chat'}}<i class="material-icons">textsms</i>{{/link-to}}</li>
    <li class="tab col s3">{{#link-to 'mi-perfil'}}<i class="material-icons">person</i>{{/link-to}}</li>
  </ul>
</div>
</div>