{{#init-component c="carousel"}}
<a {{action 'next'}}>
<div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-item" href="#one!">
      <h2>Participa en rifas</h2>
      <img src="media/uno.png" style="width:40%;">
      <p>Participa en gran variedad de rifas dentro de tu ciudad.</p>
    </div>
    <div class="carousel-item" href="#two!">
      <h2>Dise침a y publica tus propias rifas</h2>
	  <img src="media/dos.png" style="width:40%;">
      <p>Dentro de la aplicaci칩n podr치s dise침ar, publicar y administrar tus propias rifas.</p>
    </div>
    <div class="carousel-item" href="#three!">
      <h2>Adelante</h2>
      <img src="media/tres.png" style="width:40%;">
      <p>Comienza a disfrutar de Raflle It</p>
    </div>
  </div>
</a>
{{/init-component}}