<div class="row">
<ul class="collection">
    <li class="collection-item avatar">
      <img src="https://yaesta.vteximg.com.br/arquivos/ids/234992-500-500/26506_B500_left.png?v=636397163859700000" alt="" class="circle">
      <b class="title">Rifa Camara Cannon</b>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a pharetra dolor, et commodo mi. Morbi eget aliquet eros. Aenean aliquet urna at magna scelerisque, quis ultrices nibh dictum.
      </p>
      <b>$990.00</b>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
</div>